.form__button {
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    margin-left: 36px;
    margin-top: 48px;
    margin-bottom: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 460px) {
    .form__button {
        width: 238px;
        height: 46px;
        margin-left: 22px;
        margin-top: 45px;
    }
}

.form__button:hover {
    opacity: .8;
}