.popup__close {
    position: relative;
    width: 32px;
    height: 32px;
    top: -10px;
    right: -40px;
    align-self: flex-end;
    background: none;
    background-image: url(../../../images/CloseIcon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: opacity .5s;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 460px) {
  .popup__close {
        width: 20px;
        height: 20px;
        right: -28px;
        top: -8px;
        object-fit: cover;
  }
}

@media screen and (max-width: 380px) {
  .popup__close {
        right: -24px;
        top: -4px;
  }
}

@media screen and (max-width: 360px) {
  .popup__close {
        right: -20px;
        top: -4px;
  }
}