.header {
    max-width: 880px;
    min-width: 320px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 881px) and (max-width: 2560px) {
    .header {
        width: 880px;
    }
}


@media screen and (max-width: 321px) {
    .header {
        padding-top: 28px;
    }
}