.name__content {
    color: #ffffff;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

@media screen and (max-width: 635px) {
    .name__content {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin-top: 0px;
    }
}
