.elements__name {
    width: 246px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 29px;
}