.popup__close {
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left: 438px;
    margin-top: -40px;
    background: none;
    background-image: url(../../../images/CloseIcon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 460px) {
  .popup__close {
        width: 20px;
        height: 20px;
        margin-left: 262px;
        margin-top: -36px;
        object-fit: cover;
  }
}