.popup__container {
    min-width: 310px;
    min-height: 320px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    position: relative;
    margin: auto;
    justify-content: center;
    z-index: 2;
}

@media screen and (max-width: 460px) {
    .popup__container {
        min-width: 282px;
    }
}