.buttonname {
    display: inline-block;
    background: #000000;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (max-width: 460px) {
    .buttonname {
        font-size: 14px;
        line-height: 17px;
    }
}